body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
    
}

h1{
    color: white;
    text-align: center;

}

section{
    background-color: white;
    height: 400px;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.26);
}

select{
    width: 200px;
}

footer{
    text-align: center;
    color: white;
    padding: 10px;
}