h1{
    font: bold 36px Arial;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    
}
section{
    margin: auto;
    background-color: whitesmoke ;
    border-radius: 30px 30px 30px 30px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.239);

}
div#hora{
    display: flex;
    justify-content: center;
    padding: 10px;
    font: normal 20px arial;
}
div#divimg{
    display: flex;
    justify-content: center;
}

img{
    width: 50%;
    border-radius: 10%;
    
}
footer{
    display: flex;
    justify-content: center;
    color: white;
}