body{
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: white;
    text-align: center;

}

section{
    height: 220px;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.226);
}

div{
    padding: 20px;
}

footer{
    color: whjite;
    text-align: center;
    padding: 10px;
    color: white;
}